[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

.vs/
.vscode/
.idea/
*.csproj
*.sln
*.userprefs

*.log
*.bak
*.pidb
*.svd
*.pdb

.DS_Store
Thumbs.db

*.unitypackage

.git/lfs/

*.iml
*.suo
*.user
*.db
